body{
  background-color: #F2F2F2;
}

hr{
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
  height: 0;
  width: 10%;
}

h3{
  color: #066163;
  font-family: garamond, serif;
}

h1{
  color: #383838;
  font-family: garamond, serif;
}

li,td,th,p{
  color: #CDBE78;
  font-family: georgia, serif;
}

img{
  height: 120px;
}

.display_picture{
  height: 120px;
}
